ul#slide-out.side-nav.hide-on-large-only
    li
        a(href="#about-us") About Us
    li
        a(href="#why-easy-go") Why Easy Go
    li
        a(href="#services") Services
    li
        a(href="#contact-us") Contact Us

a.hide-on-large-only(href="#", data-activates="slide-out" class="button-collapse")
    i(class="material-icons") menu