doctype html
html(lang='en')
	head
		include headtags
	body
		include sections/header
		include sections/sidenav
		block content
		//- include sections/footer
		//- block commonjs
		//- 	include common-scripts
		block js
			include scripts