.about-us
    .container
        .row
            .col.s12
                h1 All your needs in one place
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis
                button.btn.waves-effect.waves-light Call Now
                img(src=cdn + "/home/about-us.png")