#about-us.about-us
    .container
        .row
            .col.s12
                h1 All your needs in one place
                p Need to get your plumbing done, your parcel delivered and have go to work but don’t have the time to do it all?  We help you connect with the best service providers to meet all your needs- from courier to wedding planning. Call EasyGO services today!
                a(href="tel:+915645333453").btn.waves-effect.waves-light Call Now
                img(src=cdn + "/home/about-us.png")