.why-us(style="background-image: url(" + cdn + "/home/why-us-bg.png" + ")")
    .container
        .row.benefit-desc
            .col.s12
                h2 Why Easy Go Services?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis
        .row.benefits
            .col.s12.m6
                .icon
                    img(src=cdn + "/home/certified-verified.png")
                .desc
                    h6 Lorem ipsum dolor
                    p adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            .col.s12.m6
                .icon
                    img(src=cdn + "/home/on-time-delivery.png")
                .desc
                    h6 Lorem ipsum dolor
                    p adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            .col.s12.m6
                .icon
                    img(src=cdn + "/home/quality-service.png")
                .desc
                    h6 Lorem ipsum dolor
                    p adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            .col.s12.m6
                .icon
                    img(src=cdn + "/home/customer-care.png")
                .desc
                    h6 Lorem ipsum dolor
                    p adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad