#why-easy-go.why-us(style="background-image: url(" + cdn + "/home/why-us-bg.png" + ")")
    .container
        .row.benefit-desc
            .col.s12
                h2 Why Easy Go Services?
                p EasyGO Services has one of the largest network of  verified and experienced service providers in Dimapur so that you can make use of your time on more important things and not worry about your parcel gettting delivered on time
        .row.benefits
            .col.s12.m6
                .icon
                    img(src=cdn + "/home/certified-verified.png")
                .desc
                    h6 WE'RE JUST A PHONE CALL AWAY
                    p Need to get somework done but no time? Call EasyGO Services and we’ll handle the rest.
            .col.s12.m6
                .icon
                    img(src=cdn + "/home/on-time-delivery.png")
                .desc
                    h6 ON TIME SERVICE AND SPEEDY DELIVERY
                    p We understand the value of your time and we guarantee timely services to our customers.
            .col.s12.m6
                .icon
                    img(src=cdn + "/home/quality-service.png")
                .desc
                    h6 VERIFIED & EXPERIENCED PROFESSIONALS
                    p All service providers are checked and verified to ensure you the safety and security of your work.
            .col.s12.m6
                .icon
                    img(src=cdn + "/home/customer-care.png")
                .desc
                    h6 LARGEST NETWORK OF PROFESSIONALS
                    p The vast network of professionals ensures that you never have to wait to get your job done