header {
	background-color: $primary;
	.details {
		display: inline-block;
		text-align: center;
		padding: 10px 0;
		> div {
			border-right: 1px solid $white;
			padding: 0 15px;
		}
		.email {
			border: none;
		}
		.icon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			img {
				width: 30px;
			}
		}
		.desc {
			display: inline-block;
			vertical-align: middle;
			color: $white;
			text-align: left;
			p:nth-child(1) {
				text-transform: uppercase;
				font-size: $rf;
				font-weight: $bold;
				margin-bottom: 0;
				letter-spacing: 1.3px;
			}
			p:nth-child(2) {
				font-size: $sf;
				margin-top: 0;
				letter-spacing: 1.2px;
			}
		}
	}
	.nav {
		background-color: $white;
		border-top-left-radius: 25px;
		ul {
			margin: 0;
			padding: 10px 0;
			text-align: right;
			li {
				display: inline-block;
				letter-spacing: 1.8px;
				padding: 0 15px;
				border-right: 2px solid $link;
				&:last-child {
					border: none;
				}
				a {
					font-size: $elf;
					font-weight: $medium;
				}
			}
		}
	}
	.other {
		padding: 0 !important;
		.col {
			padding: 0;
		}
	}
}