header {
	background-color: $primary;
	.details {
		display: inline-block;
		text-align: left;
		margin: 10px 0;
		border-right: 1px solid $white;
		&:last-child {
			border-right: none;
		}
		.email {
			border: none;
		}
		.icon {
			vertical-align: middle;
			margin: 7px 0;
			padding-right: 0;
			text-align: center;
			img {
				width: 30px;
			}
		}
		.desc {
			vertical-align: middle;
			color: $white;
			text-align: left;
			p:nth-child(1) {
				text-transform: uppercase;
				font-size: $rf;
				font-weight: $bold;
				margin: 2px 0;
				letter-spacing: 1.3px;
			}
			p:nth-child(2) {
				font-size: $sf;
				margin-top: 0;
				letter-spacing: 1.2px;
			}
		}
	}
	.nav {
		background-color: $white;
		ul {
			margin: 0;
			padding: 10px 0;
			text-align: right;
			li {
				display: inline-block;
				letter-spacing: 1.8px;
				padding: 0 15px;
				border-right: 2px solid $link;
				&:last-child {
					border: none;
				}
				a {
					font-size: $elf;
					font-weight: $medium;
				}
			}
		}
	}
	.other {
		padding: 0 !important;
		.details-overview {
			text-align: right;
			@media only screen and (max-width: 767px) {
				text-align: center;
				background-color: $white;
				.details {
					margin: 5px 0;
					> div {
						border: none;
					}
				}
				.icon {
					filter: invert(100%);
					text-align: right;
					img {
						width: 20px;
					}
				}
				.desc {
					color: $black;
				}
			}
		}
		// .nav-container {
		// 	@media only screen and (max-width: 767px) {
		// 		display: none;
		// 	}
		// }
	}
}