.about-us {
	text-align: center;
	margin-top: 60px;
	h1 {
		color: #3f51b5;
		text-transform: uppercase;
		font-weight: $bold;
	}
	p {
		margin: auto;
		width: 50%;
		margin-bottom: 1.68rem;
		font-weight: $medium;
	}
	img {
		display: block;
		margin: auto;
		margin-top: -75px;
	}
	@media only screen and (max-width: 767px) {
		margin-top: 0;
		p {
			width: auto;
		}
		img {
			margin-top: 0;
			width: 100%;
		}
	}
}

.why-us {
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0;
	.benefit-desc {
		text-align: center;
		h2 {
			color: $white;
			text-transform: uppercase;
			font-weight: $medium;
		}
		p {
			color: $white;
			width: 50%;
			margin: auto;
			margin-bottom: 60px;
			font-weight: $medium;
		}
	}
	.benefits {
		.col {
			margin: 30px 0;
		}
	}
	.icon {
		vertical-align: middle;
		width: 15%;
		text-align: right;
		float: left;
		img {
			max-height: 50px;
		}
	}
	.desc {
		vertical-align: middle;
		color: $white;
		text-align: left;
		width: 85%;
		padding: 0 15px;
		float: left;
		h6 {
			text-transform: uppercase;
			font-weight: $bold;
		}
		p {
			font-size: $rf;
			margin-top: 0;
		}
	}
	@media only screen and (max-width: 767px) {
		padding: 20px 0;
		.benefit-desc  {
			p {
				width: auto;
				margin-bottom: 30px;
			}
		}
		.benefits {
			.col {
				margin: 15px 0;
				padding: 0;
			}
		}
		.icon {
			vertical-align: top;
			img {
				max-height: 30px;
			}
		}
		.desc {
			vertical-align: top;
			padding-right: 0;
			h6 {
				margin-top: 0;
			}
			p {
				font-size: $sf;
			}
		}
	}
}

.services {
	padding: 60px 0;
	.service-desc {
		text-align: center;
		h2 {
			color: $link;
			text-transform: uppercase;
			font-weight: $medium;
		}
		p {
			color: $link;
			width: 50%;
			margin: auto;
			margin-bottom: 60px;
			font-weight: $medium;
		}
	}
	.services-fold {
		max-height: 0px;
		overflow: hidden;
		@include css3-prefix('transition', 'max-height ease 0.5s');
	}
	.card {
		.card-content {
			background-color: $link;
			color: $white;
			.card-title {
				text-transform: uppercase;
				font-weight: $medium;
			}
			p {
				font-size: 12px;
			}
		}
	}
	.service-action {
		span {
			text-decoration: underline;
			display: block;
			text-transform: uppercase;
			font-size: $elf;
			font-weight: $medium;
			letter-spacing: 1.9px;
			margin: 30px 0;
			cursor: pointer;
		}
		text-align: center;
	}
	@media only screen and (max-width: 767px) {
		padding: 20px 0;
		.service-desc {
			p {
				width: auto;
				margin-bottom: 30px;
			}
		}
		.card {
			.card-content {
				font-size: $sf;
			}
		}
	}
}

.contact-us {
	padding: 60px 0;
	background-repeat: no-repeat;
	background-size: cover;
	.contact-desc {
		text-align: center;
		h2 {
			color: $white;
			text-transform: uppercase;
			font-weight: $medium;
		}
		p {
			color: $white;
			margin: auto;
			margin-bottom: 15px;
			font-weight: $medium;
		}
		h4 {
			color: $white;
			font-weight: $medium;
			text-transform: uppercase;
		}
		.message {
			input, textarea {
				background-color: $white;
				border-radius: 3px;
				border: none;
				padding: 10px 15px;
				box-sizing: border-box;
				height: auto;
			}
			form {
				width: 50%;
				margin: auto;
				button {
					width: 100%;
					margin-top: 30px;
					margin-bottom: 15px;
				}
			}
		}
		.contact-details {
			p {
				width: 50%;
			}
		}
		.call-us {
			border-right: 3px solid $white;
			padding-top: 30px;
			padding-bottom: 30px;
			margin-top: 50px;
			margin-bottom: 50px;
			.call-icon {
				margin-bottom: 30px;
				margin-top: 30px;
				img {
					height: 75px;
				}
			}
			.call-number {
				font-size: 24px;
				margin-bottom: 30px;
				p {
					margin-bottom: 0;
				}
			}
		}
		.email-us {
			padding-top: 30px;
			padding-bottom: 30px;
			margin-top: 50px;
			margin-bottom: 50px;
			.email-icon {
				margin-bottom: 30px;
				margin-top: 30px;
				img {
					height: 75px;
				}
			}
			.email-id {
				font-size: 24px;
				margin-bottom: 30px;
				p {
					margin-bottom: 0;
				}
			}
		}
	}
	.connect {
		text-align: center;
		h4 {
			color: $white;
			font-weight: $medium;
			text-transform: uppercase;
		}
		.social {
			display: inline-block;
			margin: 10px 20px;
			img {
				width: 60px;
			}
		}
	}
	.company-details {
		text-align: center;
		color: $white;
		margin-top: 50px;
	}
	@media only screen and (max-width: 767px) {
		padding: 30px 0;
		.contact-desc {
			.contact-details {
				p {
					width: auto;
					margin-bottom: 0;
				}
			}
			.call-us {
				margin-bottom: 0;
				margin-top: 0;
				.call-icon {
					img {
						height: 50px;
					}
				}
			}
			.email-us {
				margin-bottom: 0;
				margin-top: 0;
				.email-icon {
					img {
						height: 50px;
					}
				}
			}
			h4 {
				margin-top: 0;
			}
			.message {
				form {
					width: auto;
				}
			}
			.call-us {
				border: none;
			}
		}
		img {
			// margin-top: 50px;
			// width: 100%;
		}
		.connect {
			.social {
				margin: 10px;
				img {
					width: 30px;
				}
			}
		}
	}
}