.about-us {
	text-align: center;
	margin-top: 60px;
	h1 {
		font-size: $h1;
		color: #3f51b5;
		text-transform: uppercase;
		font-weight: $bold;
	}
	p {
		margin: auto;
		width: 50%;
		margin-bottom: 1.68rem;
		font-weight: $medium;
	}
	img {
		display: block;
		margin: auto;
		margin-top: -75px;
	}
}

.why-us {
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0;
	.benefit-desc {
		text-align: center;
		h2 {
			font-size: $h2;
			color: $white;
			text-transform: uppercase;
			font-weight: $medium;
		}
		p {
			color: $white;
			width: 50%;
			margin: auto;
			margin-bottom: 60px;
			font-weight: $medium;
		}
	}
	.benefits {
		.col {
			margin: 30px 0;
		}
	}
	.icon {
		display: inline-block;
		vertical-align: middle;
		width: 15%;
		text-align: right;
		img {
			max-height: 50px;
		}
	}
	.desc {
		display: inline-block;
		vertical-align: middle;
		color: $white;
		text-align: left;
		width: 85%;
		padding: 0 15px;
		h6 {
			text-transform: uppercase;
			font-size: $h6;
			font-weight: $bold;
		}
		p {
			font-size: $rf;
			margin-top: 0;
		}
	}
}

.services {
	text-align: center;
	padding: 60px 0;
	h2 {
		font-size: $h2;
		color: $link;
		text-transform: uppercase;
		font-weight: $medium;
	}
	p {
		color: $link;
		width: 50%;
		margin: auto;
		margin-bottom: 60px;
		font-weight: $medium;
	}
}