@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
h1 {
  font-size: 45px;
}

h2 {
  font-size: 39px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.row {
  margin-bottom: 0;
}

.card {
  margin: 1rem 0 1rem 0;
}

.logo {
  text-align: center;
  margin: 24px 0;
}

.logo img {
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .logo {
    text-align: center;
  }
  .logo img {
    height: 35px;
  }
}

p {
  margin: 5px 0;
}

a {
  color: #071149;
  text-transform: uppercase;
}

.btn {
  background-color: #90caf9;
  border-radius: 3px;
  height: 60px;
  line-height: 60px;
  color: #0d1754;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 600;
}

.btn:hover {
  background-color: #6abcff;
}

@media only screen and (max-width: 767px) {
  .btn {
    height: 30px;
    line-height: 30px;
    letter-spacing: 1.2px;
    font-size: 18px;
  }
}

.button-collapse {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFFFFF;
}

header {
  background-color: #2706a6;
}

header .details {
  display: inline-block;
  text-align: left;
  margin: 10px 0;
  border-right: 1px solid #FFFFFF;
}

header .details:last-child {
  border-right: none;
}

header .details .email {
  border: none;
}

header .details .icon {
  vertical-align: middle;
  margin: 7px 0;
  padding-right: 0;
  text-align: center;
}

header .details .icon img {
  width: 30px;
}

header .details .desc {
  vertical-align: middle;
  color: #FFFFFF;
  text-align: left;
}

header .details .desc p:nth-child(1) {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin: 2px 0;
  letter-spacing: 1.3px;
}

header .details .desc p:nth-child(2) {
  font-size: 12px;
  margin-top: 0;
  letter-spacing: 1.2px;
}

header .nav {
  background-color: #FFFFFF;
}

header .nav ul {
  margin: 0;
  padding: 10px 0;
  text-align: right;
}

header .nav ul li {
  display: inline-block;
  letter-spacing: 1.8px;
  padding: 0 15px;
  border-right: 2px solid #071149;
}

header .nav ul li:last-child {
  border: none;
}

header .nav ul li a {
  font-size: 18px;
  font-weight: 600;
}

header .other {
  padding: 0 !important;
}

header .other .details-overview {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  header .other .details-overview {
    text-align: center;
    background-color: #FFFFFF;
  }
  header .other .details-overview .details {
    margin: 5px 0;
  }
  header .other .details-overview .details > div {
    border: none;
  }
  header .other .details-overview .icon {
    filter: invert(100%);
    text-align: right;
  }
  header .other .details-overview .icon img {
    width: 20px;
  }
  header .other .details-overview .desc {
    color: #000000;
  }
}

.about-us {
  text-align: center;
  margin-top: 60px;
}

.about-us h1 {
  color: #3f51b5;
  text-transform: uppercase;
  font-weight: 700;
}

.about-us p {
  margin: auto;
  width: 50%;
  margin-bottom: 1.68rem;
  font-weight: 600;
}

.about-us img {
  display: block;
  margin: auto;
  margin-top: -75px;
}

@media only screen and (max-width: 767px) {
  .about-us {
    margin-top: 0;
  }
  .about-us p {
    width: auto;
  }
  .about-us img {
    margin-top: 0;
    width: 100%;
  }
}

.why-us {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}

.why-us .benefit-desc {
  text-align: center;
}

.why-us .benefit-desc h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
}

.why-us .benefit-desc p {
  color: #FFFFFF;
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
  font-weight: 600;
}

.why-us .benefits .col {
  margin: 30px 0;
}

.why-us .icon {
  vertical-align: middle;
  width: 15%;
  text-align: right;
  float: left;
}

.why-us .icon img {
  max-height: 50px;
}

.why-us .desc {
  vertical-align: middle;
  color: #FFFFFF;
  text-align: left;
  width: 85%;
  padding: 0 15px;
  float: left;
}

.why-us .desc h6 {
  text-transform: uppercase;
  font-weight: 700;
}

.why-us .desc p {
  font-size: 14px;
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  .why-us {
    padding: 20px 0;
  }
  .why-us .benefit-desc p {
    width: auto;
    margin-bottom: 30px;
  }
  .why-us .benefits .col {
    margin: 15px 0;
    padding: 0;
  }
  .why-us .icon {
    vertical-align: top;
  }
  .why-us .icon img {
    max-height: 30px;
  }
  .why-us .desc {
    vertical-align: top;
    padding-right: 0;
  }
  .why-us .desc h6 {
    margin-top: 0;
  }
  .why-us .desc p {
    font-size: 12px;
  }
}

.services {
  padding: 60px 0;
}

.services .service-desc {
  text-align: center;
}

.services .service-desc h2 {
  color: #071149;
  text-transform: uppercase;
  font-weight: 600;
}

.services .service-desc p {
  color: #071149;
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
  font-weight: 600;
}

.services .services-fold {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height ease 0.5s;
  -khtml-transition: max-height ease 0.5s;
  -moz-transition: max-height ease 0.5s;
  -ms-transition: max-height ease 0.5s;
  -o-transition: max-height ease 0.5s;
  transition: max-height ease 0.5s;
}

.services .card .card-content {
  background-color: #071149;
  color: #FFFFFF;
}

.services .card .card-content .card-title {
  text-transform: uppercase;
  font-weight: 600;
}

.services .card .card-content p {
  font-size: 12px;
}

.services .service-action {
  text-align: center;
}

.services .service-action span {
  text-decoration: underline;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.9px;
  margin: 30px 0;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .services {
    padding: 20px 0;
  }
  .services .service-desc p {
    width: auto;
    margin-bottom: 30px;
  }
  .services .card .card-content {
    font-size: 12px;
  }
}

.contact-us {
  padding: 60px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-us .contact-desc {
  text-align: center;
}

.contact-us .contact-desc h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-us .contact-desc p {
  color: #FFFFFF;
  margin: auto;
  margin-bottom: 15px;
  font-weight: 600;
}

.contact-us .contact-desc h4 {
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-us .contact-desc .message input, .contact-us .contact-desc .message textarea {
  background-color: #FFFFFF;
  border-radius: 3px;
  border: none;
  padding: 10px 15px;
  box-sizing: border-box;
  height: auto;
}

.contact-us .contact-desc .message form {
  width: 50%;
  margin: auto;
}

.contact-us .contact-desc .message form button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.contact-us .contact-desc .contact-details p {
  width: 50%;
}

.contact-us .contact-desc .call-us {
  border-right: 3px solid #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-us .contact-desc .call-us .call-icon {
  margin-bottom: 30px;
  margin-top: 30px;
}

.contact-us .contact-desc .call-us .call-icon img {
  height: 75px;
}

.contact-us .contact-desc .call-us .call-number {
  font-size: 24px;
  margin-bottom: 30px;
}

.contact-us .contact-desc .call-us .call-number p {
  margin-bottom: 0;
}

.contact-us .contact-desc .email-us {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-us .contact-desc .email-us .email-icon {
  margin-bottom: 30px;
  margin-top: 30px;
}

.contact-us .contact-desc .email-us .email-icon img {
  height: 75px;
}

.contact-us .contact-desc .email-us .email-id {
  font-size: 24px;
  margin-bottom: 30px;
}

.contact-us .contact-desc .email-us .email-id p {
  margin-bottom: 0;
}

.contact-us .connect {
  text-align: center;
}

.contact-us .connect h4 {
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-us .connect .social {
  display: inline-block;
  margin: 10px 20px;
}

.contact-us .connect .social img {
  width: 60px;
}

.contact-us .company-details {
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .contact-us {
    padding: 30px 0;
  }
  .contact-us .contact-desc .contact-details p {
    width: auto;
    margin-bottom: 0;
  }
  .contact-us .contact-desc .call-us {
    margin-bottom: 0;
    margin-top: 0;
  }
  .contact-us .contact-desc .call-us .call-icon img {
    height: 50px;
  }
  .contact-us .contact-desc .email-us {
    margin-bottom: 0;
    margin-top: 0;
  }
  .contact-us .contact-desc .email-us .email-icon img {
    height: 50px;
  }
  .contact-us .contact-desc h4 {
    margin-top: 0;
  }
  .contact-us .contact-desc .message form {
    width: auto;
  }
  .contact-us .contact-desc .call-us {
    border: none;
  }
  .contact-us .connect .social {
    margin: 10px;
  }
  .contact-us .connect .social img {
    width: 30px;
  }
}
